html {
  font-size: 10px;
  background: linear-gradient(to bottom right, #2BE3FF, #9B7EFC);
  background-size: cover;
    min-height: 100vh;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  height: auto;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #2BE3FF;
    box-shadow: 3px 3px 2px #E63D42;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom right, #AC73E4, #FA646F);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.3);
  background: linear-gradient(to bottom right, #40E7B9, #2AE8F4);
    border-color: #FEE787;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #83E6FD;  
}

h1, h2, .logo {display: block; text-align: center; margin-top: 0.2em; margin-bottom: 0.2em;}

h1, h2{color: white;}

h1{
    font-size: 6.6em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 5px 5px 2px #E63D42;}
h2{
    font-size: 2.8em;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 2px #E63D42;}


#vanilla{
    border-radius: 10px;
    box-shadow: 10px 10px 15px #E63D42;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.description{
    font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 1px #E63D42;
    color: white;
}

.descriptionDiv{
    display: block;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.descriptionDiv a{
    color:aquamarine;
}



